<html>
<head>
    <title>Save Book</title>
</head>
<body>
<form action="/book" method="post">
    <div>
        <label for="title"></label>
        <input id="title" type="text" name="title">
    </div>
    <div>
        <label for="author"></label>
        <input id="author" type="text" name="author">
    </div>
    <div>
        <label for="publisher"></label>
        <input id="publisher" type="text" name="publisher">
    </div>
    <div>
        <label for="price"></label>
        <input id="price" type="number" name="price">
    </div>
</form>
</body>
</html>